<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Project_unni</display-name>
	<servlet>
		<servlet-name>unniServlet</servlet-name>
		<servlet-class>controller.UnniServlet</servlet-class>
		<multipart-config>
			<location>C:\Users\hb2008\Desktop\이려원\workspace2\Project_unni\WebContent\itemImg</location>
			<max-file-size>-1</max-file-size>
			<max-request-size>-1</max-request-size>
			<file-size-threshold>1024</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>unniServlet</servlet-name>
		<url-pattern>/unni</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>filter.LoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/unni</url-pattern>
	</filter-mapping>
</web-app>